body, .container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

 h1, h2, p {
      color: blue;
      font-family: Arial, sans-serif;
    }

    ul {
      list-style-type: disc;
    }

    * {
  transform: scale(2);
  transform-origin: top left;
}