{% extends 'base_generic.html' %}
{% block content %}
  <table class="table">
      <thead>
          <th>ID</th>
          <th>~~~Имя~~~</th>
          <th>Фамилия</th>
          <th></th>
      </thead>
      {% if author %}
        {% for author in author.all %}
          <tr class="table-light">
              <td>{{ author.id }}</td>
              <td>{{ author.first_name }}</td>
              <td>{{ author.last_name }}</td>
              <td>
                  <a href="/edit1/{{ author.id }}" class="btn btn-primary">Изменить</a>
                  <a href="/delete/{{ author.id }}" class="btn btn-danger">Удалить</a>
              </td>
          </tr>
        {% endfor %}
      {% else %}
       <p>В базе данных нет авторов</p>
      {% endif %}
  </table>

<h3>Добавить в БД автора книги</h3>
<form method="post" action="/create/">
    {% csrf_token %}
    <table class="table">
        {{form}}
    </table>
    <input type="submit" value="Сохранить" class="btn btn-primary">
</form>
{% endblock %}
