{% extends 'base_generic.html' %}

{% block content %}
  <h1 class="display-4">Список книг</h1>
  {% if book_list %}
     <ul class="list-group">
       {% for book in book_list %}
         <li class="list-group-item">
          <a href="{% url 'book-detail' book.pk %}" class="btn btn-primary">{{ book.title }}</a>({{ book.genre.name }})
         <a href="update/{{book.id}}" class="btn btn-primary">Изменить</a>,
             <a href="delete/{{book.id}}" class="btn btn-primary">Удалить</a>
         </li>
       {% endfor %}
     </ul>
  {% else %}
    <p>В базе нет книг</p>
  {% endif %}
{% endblock %}
